<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Concept</title>
    <!-- google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>
    <div class="container">
        
        <div class="play">
            <button type="submit" class="btn"><img class="play-btn" src="images\play-button-arrowhead.png" alt="play-button"> Watch Now</button>
        </div>

        <div class="heading">
                <h1 class="movie-name">SUCCESSION</h1>
            <div class="imdb-score">
                <p class="imdb-p">8.8/10</p> 
                <img class="imdb-logo" src="images\imdb.png" alt="imdb-logo">
            </div>
            <div class="info">
                <img class="icons" src="images\time.png" alt="timer-icon">
                <p class="info-p">3 Season</p>
                <img class="icons" src="images\clapperboard.png" alt="clapperboard-icon">
                <p class="info-p">Drama</p>
                <img class="icons" src="images\date.png" alt="date-icon">
                <p class="info-p">June 3, 2018</p>
            </div>
            <div class="summary">
                <p class="summary-p">The Roy family is known for controlling the biggest media and entertainment company in the world. However, their world changes when their father steps down from the company.</p>
            </div>
            <div class="stars">
                <h3 class="stars-heading">Stars:</h3>
                <p class="stars-p">Brian Cox, Jeremy Strong, Sarah Snook, Nicholas Braun</p>
            </div>
            <div class="imgs">
                <img class="images" src="images\first.jpeg" alt="first">
                <img class="images" src="images\second.jpeg" alt="second">
                <img class="images" src="images\third.jpeg" alt="third">
            </div>
        </div>
    </div>

</body>
</html>